<div class="m_9f59b069 m_9bd7b098 mantine-Accordion-item"
     style="overflow: hidden; border-color: rgb(55, 58, 64); box-shadow: 0 calc(0.0625rem * var(--mantine-scale)) calc(0.1875rem * var(--mantine-scale)) rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 calc(0.625rem * var(--mantine-scale)) calc(0.9375rem * var(--mantine-scale)) calc(-0.3125rem * var(--mantine-scale)), rgba(0, 0, 0, 0.04) 0 calc(0.4375rem * var(--mantine-scale)) calc(0.4375rem * var(--mantine-scale)) calc(-0.3125rem * var(--mantine-scale));"
     data-active="true">
    <button class="mantine-focus-auto m_4ba585b8 mantine-Accordion-control m_87cf2631 mantine-UnstyledButton-root"
            data-accordion-control="true" data-chevron-position="right" type="button" aria-expanded="true"
            aria-controls="mantine-sqr5d30as-panel-version-details" id="mantine-sqr5d30as-control-version-details"
            style="padding: calc(0.75rem * var(--mantine-scale)); gap: calc(1rem * var(--mantine-scale));"
            data-active="true"><span class="m_3f35ae96 mantine-Accordion-chevron" data-position="right"
                                     data-rotate="true"><svg viewBox="0 0 15 15" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             style="width: calc(1rem * var(--mantine-scale)); height: calc(1rem * var(--mantine-scale)); display: block;"><path
            d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
            fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg></span><span
            class="m_df3ffa0f mantine-Accordion-label" style="padding: 0px;"><div class="m_4081bf90 mantine-Group-root"
                                                                                  style="--group-gap: var(--mantine-spacing-md); --group-align: center; --group-justify: space-between; --group-wrap: wrap;">Details</div></span>
    </button>
    <div class="m_df78851f mantine-Accordion-panel" aria-hidden="false" role="region"
         id="mantine-sqr5d30as-panel-version-details" aria-labelledby="mantine-sqr5d30as-control-version-details"
         style="box-sizing: border-box; opacity: 1; transition: opacity 200ms; padding: 0rem;">
        <div class="m_4ba554d4 mantine-Accordion-content" style="padding: 0px;">
            <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailsPanel m_6d731127 mantine-Stack-root"
                 style="--stack-gap: 0rem; --stack-align: stretch; --stack-justify: flex-start;">
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Type</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.375rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <div class="m_347db0ec mantine-Badge-root" data-variant="filled" data-size="sm"
                             style="--badge-height: var(--badge-height-sm); --badge-padding-x: var(--badge-padding-x-sm); --badge-fz: var(--badge-fz-sm); --badge-radius: var(--mantine-radius-xl); --badge-bg: var(--mantine-color-gray-filled); --badge-color: var(--mantine-color-white); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent;">
                            <span class="m_5add502a mantine-Badge-label">LoRA </span></div>
                        <a class="mantine-focus-auto m_b6d8b162 mantine-Text-root" data-size="xs"
                           href="https://github.com/civitai/civitai/wiki/How-to-use-models#lora" target="_blank"
                           rel="nofollow noreferrer" aria-label="How to use this"
                           style="--text-fz: var(--mantine-font-size-xs); --text-lh: var(--mantine-line-height-xs); line-height: 1; color: var(--mantine-color-dimmed); text-decoration: underline;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="tabler-icon tabler-icon-info-square-rounded ">
                                <path d="M12 9h.01"></path>
                                <path d="M11 12h1v4h1"></path>
                                <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
                            </svg>
                        </a></div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Stats</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.75rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <div class="m_4081bf90 mantine-Group-root"
                             style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="tabler-icon tabler-icon-download "
                                 style="opacity: 0.5;">
                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                <path d="M7 11l5 5l5 -5"></path>
                                <path d="M12 4l0 12"></path>
                            </svg>
                            <p class="mantine-focus-auto m_b6d8b162 mantine-Text-root" data-size="sm"
                               style="--text-fz: var(--mantine-font-size-sm); --text-lh: var(--mantine-line-height-sm);"><span
                                    class="AnimatedCount-module__TYudFq__wrapper "><span
                                    class="CustomNumberFlow-module__wa2qVW__wrapper"><span
                                    class="CustomNumberFlow-module__wa2qVW__srOnly">20</span><span
                                    class="CustomNumberFlow-module__wa2qVW__digit" data-position="1" data-digit="2"
                                    aria-hidden="true"><span class="CustomNumberFlow-module__wa2qVW__stack"
                                                             style="--cnf-n: 2;">0
1
2
3
4
5
6
7
8
9</span></span><span class="CustomNumberFlow-module__wa2qVW__digit" data-position="0" data-digit="0" aria-hidden="true"><span
                                    class="CustomNumberFlow-module__wa2qVW__stack" style="--cnf-n: 0;">0
1
2
3
4
5
6
7
8
9</span></span></span></span></p></div>
                        <div class="m_4081bf90 mantine-Group-root"
                             style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="tabler-icon tabler-icon-brush " style="opacity: 0.5;">
                                <path d="M3 21v-4a4 4 0 1 1 4 4h-4"></path>
                                <path d="M21 3a16 16 0 0 0 -12.8 10.2"></path>
                                <path d="M21 3a16 16 0 0 1 -10.2 12.8"></path>
                                <path d="M10.6 9a9 9 0 0 1 4.4 4.4"></path>
                            </svg>
                            <p class="mantine-focus-auto m_b6d8b162 mantine-Text-root" data-size="sm"
                               style="--text-fz: var(--mantine-font-size-sm); --text-lh: var(--mantine-line-height-sm);"><span
                                    class="AnimatedCount-module__TYudFq__wrapper "><span
                                    class="CustomNumberFlow-module__wa2qVW__wrapper"><span
                                    class="CustomNumberFlow-module__wa2qVW__srOnly">0</span><span
                                    class="CustomNumberFlow-module__wa2qVW__digit" data-position="0" data-digit="0"
                                    aria-hidden="true"><span class="CustomNumberFlow-module__wa2qVW__stack"
                                                             style="--cnf-n: 0;">0
1
2
3
4
5
6
7
8
9</span></span></span></span></p></div>
                    </div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Reviews</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: flex-start; --group-justify: left; --group-wrap: wrap;">
                        <div class=""><a
                                class="mantine-focus-auto m_849cf0da m_b6d8b162 mantine-Text-root mantine-Anchor-root"
                                data-size="sm" data-underline="hover"
                                href="/models/2917247/reviews?modelVersionId=3300363"
                                style="--text-fz: var(--mantine-font-size-sm); --text-lh: var(--mantine-line-height-sm); color: var(--mantine-color-green-text); text-transform: capitalize;">Positive</a>
                        </div>
                        <p class="mantine-focus-auto m_b6d8b162 mantine-Text-root" data-size="sm"
                           style="--text-fz: var(--mantine-font-size-sm); --text-lh: var(--mantine-line-height-sm); color: var(--mantine-color-dimmed);">
                            (11)</p></div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Published</span>
                    <p class="mantine-focus-auto m_b6d8b162 mantine-Text-root" data-size="sm"
                       style="--text-fz: var(--mantine-font-size-sm); --text-lh: var(--mantine-line-height-sm);">Sep 12,
                        2026</p></div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Base Model</span>
                    <p class="mantine-focus-auto m_b6d8b162 mantine-Text-root" data-size="sm"
                       style="--text-fz: var(--mantine-font-size-sm); --text-lh: var(--mantine-line-height-sm);"><a
                            class="mantine-focus-auto m_849cf0da m_b6d8b162 mantine-Text-root mantine-Anchor-root"
                            data-inherit="true" data-underline="hover" href="/ecosystems/illustrious">Illustrious</a>
                    </p></div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Training</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <div class="m_347db0ec mantine-Badge-root" data-variant="light" data-size="sm"
                             style="--badge-height: var(--badge-height-sm); --badge-padding-x: var(--badge-padding-x-sm); --badge-fz: var(--badge-fz-sm); --badge-radius: var(--mantine-radius-sm); --badge-bg: var(--mantine-color-teal-light); --badge-color: var(--mantine-color-teal-light-color); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent;">
                            <span class="m_5add502a mantine-Badge-label">Steps: 2,000</span></div>
                        <div class="m_347db0ec mantine-Badge-root" data-variant="light" data-size="sm"
                             style="--badge-height: var(--badge-height-sm); --badge-padding-x: var(--badge-padding-x-sm); --badge-fz: var(--badge-fz-sm); --badge-radius: var(--mantine-radius-sm); --badge-bg: var(--mantine-color-teal-light); --badge-color: var(--mantine-color-teal-light-color); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent;">
                            <span class="m_5add502a mantine-Badge-label">Epochs: 10</span></div>
                    </div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRow"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Usage Tips</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <div class="m_347db0ec mantine-Badge-root" data-variant="light" data-size="sm"
                             style="--badge-height: var(--badge-height-sm); --badge-padding-x: var(--badge-padding-x-sm); --badge-fz: var(--badge-fz-sm); --badge-radius: var(--mantine-radius-sm); --badge-bg: var(--mantine-color-cyan-light); --badge-color: var(--mantine-color-cyan-light-color); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent;">
                            <span class="m_5add502a mantine-Badge-label">Clip Skip: 1</span></div>
                    </div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRowPlain"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Hash</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: 0rem; --group-align: center; --group-justify: flex-start; --group-wrap: nowrap; user-select: none;">
                        <div class="m_347db0ec mantine-Badge-root" data-variant="outline"
                             style="--badge-radius: var(--mantine-radius-sm); --badge-bg: transparent; --badge-color: var(--mantine-color-gray-outline); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-outline); border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0px; white-space: nowrap; padding-inline: calc(0.375rem * var(--mantine-scale));">
                            <span class="m_5add502a mantine-Badge-label">AutoV2</span></div>
                        <div class="m_347db0ec mantine-Badge-root" data-variant="outline"
                             style="--badge-radius: var(--mantine-radius-sm); --badge-bg: transparent; --badge-color: var(--mantine-color-gray-outline); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-outline); cursor: pointer; overflow: hidden; width: 120px; border-radius: 0px; padding-inline: calc(0.375rem * var(--mantine-scale));">
                            <span class="m_5add502a mantine-Badge-label">B92D150B2A</span></div>
                        <button class="mantine-focus-auto mantine-active m_8d3f4000 mantine-ActionIcon-root m_87cf2631 mantine-UnstyledButton-root"
                                data-variant="outline" type="button"
                                style="--ai-size: calc(1.25rem * var(--mantine-scale)); --ai-bg: transparent; --ai-hover: var(--mantine-color-gray-outline-hover); --ai-color: var(--mantine-color-gray-outline); --ai-bd: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-outline); border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-left: 0px; cursor: pointer; padding-inline: calc(0.125rem * var(--mantine-scale));">
                            <span class="m_8d3afb97 mantine-ActionIcon-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                  width="24" height="24"
                                                                                  viewBox="0 0 24 24" fill="none"
                                                                                  stroke="currentColor" stroke-width="2"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"
                                                                                  class="tabler-icon tabler-icon-chevron-right "><path
                                    d="M9 6l6 6l-6 6"></path></svg></span></button>
                    </div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRowTop"><span
                        class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">Trigger Words</span>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <div class="m_347db0ec mantine-Badge-root" data-variant="light" data-size="sm"
                             style="--badge-height: var(--badge-height-sm); --badge-padding-x: var(--badge-padding-x-sm); --badge-fz: var(--badge-fz-sm); --badge-radius: var(--mantine-radius-sm); --badge-bg: var(--mantine-color-violet-light); --badge-color: var(--mantine-color-violet-light-color); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent; cursor: pointer; height: auto; padding-right: calc(0.125rem * var(--mantine-scale));">
                            <span class="m_5add502a mantine-Badge-label"><div
                                    class="whitespace-normal m_4081bf90 mantine-Group-root"
                                    style="--group-gap: calc(0.3125rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: nowrap;">christopher_muvluv<svg
                                    xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="tabler-icon tabler-icon-copy shrink-0 grow-0"><path
                                    d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path
                                    d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg></div></span>
                        </div>
                        <div class="m_347db0ec mantine-Badge-root" data-variant="light" data-size="sm"
                             style="--badge-height: var(--badge-height-sm); --badge-padding-x: var(--badge-padding-x-sm); --badge-fz: var(--badge-fz-sm); --badge-radius: var(--mantine-radius-sm); --badge-bg: var(--mantine-color-violet-light); --badge-color: var(--mantine-color-violet-light-color); --badge-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent; cursor: pointer; height: auto; padding-right: calc(0.125rem * var(--mantine-scale));">
                            <span class="m_5add502a mantine-Badge-label"><div
                                    class="whitespace-normal m_4081bf90 mantine-Group-root"
                                    style="--group-gap: calc(0.3125rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: nowrap;">short grey hair, purple eyes, futuristic black and grey armed bodysuit with green and orange accents, shoulder armor, black and orange helmet, scar on face<svg
                                    xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="tabler-icon tabler-icon-copy shrink-0 grow-0"><path
                                    d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path
                                    d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg></div></span>
                        </div>
                    </div>
                </div>
                <div class="ModelVersionDetails-module-scss-module__Nm3YLG__detailRowTop">
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: var(--mantine-spacing-xs); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <span class="ModelVersionDetails-module-scss-module__Nm3YLG__detailLabel">AIR</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="tabler-icon tabler-icon-info-square-rounded " aria-haspopup="dialog"
                             aria-expanded="false" aria-controls="mantine-c7tmb7cgg-dropdown"
                             id="mantine-c7tmb7cgg-target" style="cursor: pointer; opacity: 0.7;">
                            <path d="M12 9h.01"></path>
                            <path d="M11 12h1v4h1"></path>
                            <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
                        </svg>
                    </div>
                    <div class="m_4081bf90 mantine-Group-root"
                         style="--group-gap: calc(0.25rem * var(--mantine-scale)); --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                        <div class="m_4081bf90 mantine-Group-root"
                             style="--group-gap: 0rem; --group-align: center; --group-justify: flex-start; --group-wrap: wrap;">
                            <code class="ModelURN-module-scss-module__71rDJq__code m_b183c0a2 mantine-Code-root"
                                  dir="ltr">civitai:</code><code
                                class="ModelURN-module-scss-module__71rDJq__code m_b183c0a2 mantine-Code-root" dir="ltr"
                                style="--code-bg: var(--mantine-color-blue-filled);">2917247</code><code
                                class="ModelURN-module-scss-module__71rDJq__code m_b183c0a2 mantine-Code-root"
                                dir="ltr">@</code><code
                                class="ModelURN-module-scss-module__71rDJq__code m_b183c0a2 mantine-Code-root" dir="ltr"
                                style="--code-bg: var(--mantine-color-blue-filled);">3300363</code><code
                                class="ModelURN-module-scss-module__71rDJq__code m_b183c0a2 mantine-Code-root"
                                dir="ltr">+</code><code
                                class="ModelURN-module-scss-module__71rDJq__code m_b183c0a2 mantine-Code-root" dir="ltr"
                                style="--code-bg: var(--mantine-color-blue-filled);">3185944</code></div>
                        <button class="mantine-focus-auto mantine-active m_8d3f4000 mantine-ActionIcon-root m_87cf2631 mantine-UnstyledButton-root"
                                data-variant="subtle" data-size="xs" type="button"
                                style="--ai-size: var(--ai-size-xs); --ai-bg: transparent; --ai-hover: var(--mantine-color-gray-light-hover); --ai-color: var(--mantine-color-gray-light-color); --ai-bd: calc(0.0625rem * var(--mantine-scale)) solid transparent;">
                            <span class="m_8d3afb97 mantine-ActionIcon-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                  width="20" height="20"
                                                                                  viewBox="0 0 24 24" fill="none"
                                                                                  stroke="currentColor" stroke-width="2"
                                                                                  stroke-linecap="round"
                                                                                  stroke-linejoin="round"
                                                                                  class="tabler-icon tabler-icon-copy "><path
                                    d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path
                                    d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>