.my_button {
    border-radius: 10em;
    color: #ecf0f1;
    font-weight: 1000;
    font-size: 18px;
    font-color: #ecf0f1;
    font-family: "微软雅黑";
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.my_button.large {
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
}
.my_button.medium {
    font-size: 18px;
    line-height: 36px;
    height: 36px;
    padding: 0 24px;
}
.my_button.small {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
}
.my_button.xsmall {
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    padding: 0 15px;
}
.my_button.green {
    background: linear-gradient(to right, #08705a, #25a88f, #2ecc71);
}
.my_button.blue {
    background: linear-gradient(to right, #2e6183, #589eca, #6bc0ff);
}
.my_button.red {
    background: linear-gradient(to right,#700f46,#d61361,#f41445,#fc1e39,#ff4f28,#ffb11e);
}
.my_button.orange {
    background: linear-gradient(to right, #701a00, #d8420f, #ff9e1e, #ffd944);
}
.my_button.yellow {
    background: linear-gradient(to right, #D9E021,#FCEE21,#f5ce62,#FBB03B);
}
.my_button.gray {
    background: linear-gradient(to right, #5e5e5e, #878787);
}
.my_button.black {
    background: linear-gradient(to right, #000000, #2e2e2e, #3e3e3e, #4e4e4e);
}
.my_button.purple {
    color: white;
    background: linear-gradient(to right, #6B8DD6,#667eea,#8E37D7,#764ba2);
}
.my_button.light-purple {
    color: white;
    background: linear-gradient(to right, #9370DB,#BA55D3,#D94DFF,#DDA0DD);
}
.my_button.translucence {
    color: #888888;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(70, 70, 70, 0.2), rgba(135, 135, 135, 0.2));
}

/* 悬停效果 */
.my_button:hover::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10em;
    /* -webkit-transition:-webkit-box-shadow .4s ease-in-out; */
    transition: -webkit-box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out,-webkit-box-shadow .4s ease-in-out;
}
.my_button:hover::after {
    -webkit-box-shadow: 0 0 16px #16a085;
    box-shadow: 0 0 16px #16a085
}
.my_button.green:hover::after {
    -webkit-box-shadow: 0 0 16px #16a085;
    box-shadow: 0 0 16px #16a085
}
.my_button.blue:hover::after {
    -webkit-box-shadow: 0 0 16px #589eca;
    box-shadow: 0 0 16px #589eca
}
.my_button.red:hover::after {
    -webkit-box-shadow: 0 0 16px #ff0068;
    box-shadow: 0 0 16px #ff0068
}
.my_button.orange:hover::after {
    -webkit-box-shadow: 0 0 16px #ff9e1e;
    box-shadow: 0 0 16px #ff9e1e
}
.my_button.gray:hover::after {
    -webkit-box-shadow: 0 0 16px #5e5e5e;
    box-shadow: 0 0 16px #5e5e5e
}
.my_button.black:hover::after {
    -webkit-box-shadow: 0 0 16px #000000;
    box-shadow: 0 0 16px #000000
}
.my_button.translucence:hover::after {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

/* 按下后的效果 */
.my_button:active {
    color: black;
    background: linear-gradient(to right,#3498db,#2980b9);
}
.my_button:hover:active {
    color: black;
    background: linear-gradient(to right,#3498db,#2980b9);
}
/*.my_button.red:active {
    color: black;
    background: linear-gradient(to right,#ffb11e, #ff9e1e);
}*/
.my_button.red:hover:active {
    color: lightpink;
    background: linear-gradient(to right,#d61361,#fc1e39);
}
.my_button.orange:hover:active {
    color: yellow;
    background: linear-gradient(to right,#ffb11e, #ff9e1e);
}
.my_button.black:hover:active {
    color: black;
    background: linear-gradient(to right,#878787, #aaaaaa);
}
.my_button.gray:hover:active {
    color: darkgray;
    background: linear-gradient(to right,#2e2e2e, #3e3e3e);
}
.my_button.translucence:hover:active {
    color: #888888;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(70, 70, 70, 0.2), rgba(135, 135, 135, 0.2));
}
.my_button.yellow:hover:active {
    color: black;
    background: linear-gradient(to right,#009245,#FCEE21);
}
.my_button.purple:hover:active {
    color: black;
    background: linear-gradient(to right,#764ba2,#8E37D7,#667eea);
}

.my_position_container {
    z-index: 1001;
    position: sticky;
    margin: 5px;
    padding: 10px;
    border-radius: 1em;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: fit-content;
}
.my_position_square {
    width: 50px;
    height: 50px;
    background-color: #9a9a9a;
    border-radius: 5px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}
.my_position_square.active {
    background-color: #3498db;
}
/*
.my_position_square:hover::after {
    content: " ";
    position: sticky;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 1em;
    !* -webkit-transition:-webkit-box-shadow .4s ease-in-out; *!
    transition: -webkit-box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out,-webkit-box-shadow .4s ease-in-out;
    -webkit-box-shadow: 0 0 8px #5e5e5e;
    box-shadow: 0 0 8px #5e5e5e
}*/
